#navbarNav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 2em;
}


#img{
size: 50px; 

}

.shopping-cart-icon{
margin-bottom: 3px;
margin-top: 7px;
} 

#navbar-brand{
 font-size: 2em;   
}

h1{
  text-align: center; 
  font-family: lora;
}



p{
font-size: 18px;
text-align: left;
margin-left: 10px;
margin-right: 10px;
font-family: lora;
}


.body{
  background-color:tan;

}

#girl-with-pet   {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

h1{
 background-color:wheat; 
}

#video{
  height: 300px;
  width: 600px;
}