.card-img-top{
    height: 250px;
  }
  
.card{
  margin-bottom: 20px;
}

.card-body{
  display: grid;
}

<<<<<<< HEAD
=======
a{
  margin-top: auto;
}
>>>>>>> 44f3d2a85a938820978f996460f5911ae2af2933
