.card-img-top{
    height: 200px;
  }
  
.card{
  margin-bottom: 20px;
}

.card-body{
  display: grid;
}

img.card-img-top:hover{
  transform: scale(1.3);
}

div.card {
  border: 5px solid tan;
}


.container {
  position: relative;
 
}

.image {
  display: block;
  width: 100%;
  height: auto;
}



h2{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;

}


p{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 20px;
}

.btn{
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 3px;
  padding-left: 3px;
}









