#navbarNav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
<<<<<<< HEAD
    font-size: 2em;
=======
    font-size: 2.0em;
  


>>>>>>> 44f3d2a85a938820978f996460f5911ae2af2933
    
}



.shopping-cart-icon{
margin-bottom: 3px;
margin-top: 7px;
} 

#navbar-brand{
 font-size: 3em;   
}