<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

  
    <link rel="stylesheet" href="../css/footer.css" type="text/css">
    <link rel="stylesheet" href="../css/navbar.css" type="text/css">
    <link rel="stylesheet" href="../css/resources_and_affiliates.css" type="text/css">

    <!--Google Font Import-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500;1,600&display=swap" rel="stylesheet">

    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <!-- Font Awesome -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"
    rel="stylesheet"
    />

    <!-- MDB -->
    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"
    ></script>


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500;1,600&display=swap" rel="stylesheet">

    </head>
     <body>
    
     <div id="navbar"> </div>


        <div class="container">
    <h1><u>Articles on Service Animals</u></h1>

    
        <pre>
        (Cancer Treatment Centers of America) CTCA Staff
        (2020)
        <a href="https://www.cancercenter.com/community/blog/2020/07/animal-assisted-therapy-cancer-patients">'Animal-assisted therapy for cancer patients may help ease stress, lift spirits'</a>
        <i>Cancer Treatment Centers of America</i>
        </pre>
        
    
        <pre> 
        Mayo Clinic Staff
        (2020)    
        <a href="https://www.mayoclinic.org/healthy-lifestyle/consumer-health/in-depth/pet-therapy/art-20046342">'Pet Therapy: Animals as Healers'</a>
        <i>Healthy-lifestyle Consumer Health</i> 
       </pre> 
  
       <pre>
        (National Education for Dog Services) NEADS Staff
        (2021)
        <a href="https://neads.org">'Service Dogs for People Who Are Deaf or Have Hearing Loss'</a>
        <i>World Class Service Dogs</i>
      </pre>
    
    
    <u><strong><h2>Therapy Animal Affiliates</h2></strong></u>
   <ul>
        <li><a href="https://www.akc.org/register/?utm_source=google&utm_medium=cpc&utm_campaign=20200413_akc-rev_searchad1&utm_content=DSA&utm_term=dynamic-registration&gclid=Cj0KCQjws-OEBhCkARIsAPhOkIYLS1wqt4wOlAyXHUofCH_EpQ7IaPVvEGXVGUaUBrlR-tyT4XvLSz4aAgV-EALw_wcB">American Kennel Association</a></li>
        <li><a href="https://www.catological.com/therapy-cats">Catological</a></li>
        <li><a href="https://www.allferrets.org"> Ferrets Helping People</a></li>
        <li><a href="gerbilwelfare.com">Gerbil Welfare</a></li>
        <li><a href="http://guide-horse.org/">Guide Horse Foundation</a></li>
        <li><a href ="https://monkeyhelpers.org">Helping Hands Monkey Helpers</a></li>
        <li><a href="https://www.loveonaleash.org">Love On a Leash </a></li>
        <li><a href="https://www.pawswithacause.org">Paws With a cause</a></li>
        <li><a href="https://petsforvets.com">Pets For Vets (Military Veterans)</a></li>
 </ul>
 
<center>
 <iframe width="460" height="215" src="https://www.youtube.com/embed/h97oeZp4h6M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>



</div>


 <footer class="bg-light text-center text-white" id="footer">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #3b5998;"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #55acee;"
          href="#!"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #dd4b39;"
          href="#!"
          role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #ac2bac;"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #0082ca;"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #333333;"
          href="#!"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
  
        <a
        href="https://www.google.com/maps/place/2900+Reading+Rd,+Cincinnati,+OH+45206/@39.132685,-84.4992889,17z/data=!3m1!4b1!4m5!3m4!1s0x8841b3bec31f4411:0xe128603058315765!8m2!3d39.132685!4d-84.4971002"
        ><img src="../img/google-maps.png" alt="maps-image" height="27" width="27"/>
        </a>
  
          <div>
            <p id="address">
            Address: 2900 Reading Road
            Cincinnati, Ohio 45206
            Phone Number: (513)513-5130
            Fax: (513)513-5133
            </p>
         </div>
  
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">The Healing Farm.com</a>
    </div>
    <!-- Copyright -->
  
    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24758.78582621509!2d-84.4971!3d39.132685!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8841b3bec31f4411%3A0xe128603058315765!2s2900%20Reading%20Rd%2C%20Cincinnati%2C%20OH%2045206!5e0!3m2!1sen!2sus!4v1619386154480!5m2!1sen!2sus" width="150" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>s-->
    </footer> 


  <script>
$(document).ready(function() {
    $("#navbar").load("Navbar.html")
    $('#footer').load("footer.html")
  });
 </script>


  
 </body>
 </html>






 
