<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    

    <link rel="stylesheet" href="../css/resources_and_affiliates.css">


    <h1><u>Information Articles on Service Animals</u></h1>

    <pre>
        CTCA Staff
        (2020)
        'Animal-assisted therapy for cancer patients may help ease stress, lift spirits'
        <i>Cancer Treatment Centers of America</i>
        <a href="https://www.cancercenter.com/community/blog/2020/07/animal-assisted-therapy-cancer-patients">'Animal-assisted therapy for cancer patients may help ease stress, lift spirits'</a>
    </pre>
        
    
    <pre> 
        Mayo Clinic Staff
        (2020)    
        'Pet Therapy: Animals as Healers'
        <i>Healthy-lifestyle Consumer Health</i> 
        <a href="https://www.mayoclinic.org/healthy-lifestyle/consumer-health/in-depth/pet-therapy/art-20046342">'Pet Therapy: Animals as Healers'</a>
    
    
    <pre>
        NEADS Staff
        (2021)
        'Service Dogs for People Who Are Deaf or Have Hearing Loss'
        <i>World Class Service Dogs</i>
        <a href="https://neads.org">'Service Dogs for People Who Are Deaf or Have Hearing Loss'</a>
    </pre>
    
    
    <u><strong><h2>Therapy Animal Affiliates</h2></strong></u>
   <ul>
        <li>American Kennel Association <a href="https://www.akc.org/register/?utm_source=google&utm_medium=cpc&utm_campaign=20200413_akc-rev_searchad1&utm_content=DSA&utm_term=dynamic-registration&gclid=Cj0KCQjws-OEBhCkARIsAPhOkIYLS1wqt4wOlAyXHUofCH_EpQ7IaPVvEGXVGUaUBrlR-tyT4XvLSz4aAgV-EALw_wcB">American Kennel Association</a></li>
        <li>Catological <a href="https://www.catological.com/therapy-cats">Catological</a></li>
        <li>Ferrets Helping People - ALLFERRETS<a href="https://www.allferrets.org"> Ferrets Helping People</a></li>
        <li>Gerbil Welfare <a href="gerbilwelfare.com">Gerbil Welfare</a></li>
        <li>Guide Horse Foundation <a href="http://guide-horse.org/">Guide Horse Foundation</a></li>
        <li>Helping Hands Monkey Helpers <a href ="https://monkeyhelpers.org">Helping Hands Monkey Helpers</a></li>
        <li>Love On a Leash <a href="https://www.loveonaleash.org">Love On a Leash </a></li>
        <li>Paws With a cause <a href="https://www.pawswithacause.org">Paws With a cause</a></li>
        <li>Pets for Vets (Veterans) <a href="https://petsforvets.com">Pets For Vets</a></li>
 </ul>
 
   
</body>
</html>






 
