<h1><u>Information Articles on Therapy/Service Animals</u></h1>

<pre>
    CTCA Staff
    (2020)
    'Animal-assisted therapy for cancer patients may help ease stress, lift spirits'
    <i>Cancer Treatment Centers of America</i>
    <https://www.cancercenter.com/community/blog/2020/07/animal-assisted-therapy-cancer-patients></https:>
</pre>
    

<pre> 
    Mayo Clinic Staff
    (2020)    
    'Pet Therapy: Animals as Healers'
    <i>Healthy-lifestyle Consumer Health</i> 
    <https://www.mayoclinic.org/healthy-lifestyle/consumer-health/in-depth/pet-therapy/art-20046342></https:>
</pre>


<pre>
    NEADS Staff
    (2021)
    'Service Dogs for People Who Are Deaf or Have Hearing Loss'
    <i>World Class Service Dogs</i>
    <https://neads.org></https:>
</pre>


<u><strong><h2>Therapy Animal Affiliates</h2></strong></u>
<pre>

    American Kennel Association <a href="https://www.akc.org/register/?utm_source=google&utm_medium=cpc&utm_campaign=20200413_akc-rev_searchad1&utm_content=DSA&utm_term=dynamic-registration&gclid=Cj0KCQjws-OEBhCkARIsAPhOkIYLS1wqt4wOlAyXHUofCH_EpQ7IaPVvEGXVGUaUBrlR-tyT4XvLSz4aAgV-EALw_wcB"></a>
    Catological <a href="https://www.catological.com/therapy-cats"></a>
    Ferrets Helping People - ALLFERRETS<a href="https://www.allferrets.org"></a>
    Gerbil Welfare <a href="gerbilwelfare.com"></a>
    Guide Horse Foundation <a href="http://guide-horse.org/"></a>
    Helping Hands Monkey Helpers <a href ="https://monkeyhelpers.org"></a>
    Love On a Leash <a href="https://www.loveonaleash.org"></a>
    Paws With a cause <a href="https://www.pawswithacause.org"></a></https:>
    Pets for Vets (Veterans) <a href="https://petsforvets.com"></a>
 
</pre>


